<h1>ArtFinder</h1>
<h2>You place for arty things</h2>

<p>
<%= link_to "Browse by Artist", artists_path %>
</p>
<p>
<%= link_to "Browse by Painting", paintings_path %>
</p>
<p>
<%= link_to "Browse by Museum", museums_path %>
</p>
