<h1><%= @museum.name %></h1>
<h2>Artists on display</h2>
<ul>
  <%= render @museum.artists %>
</ul>

<h2>Paintings on display</h2>
<ul>
  <%= render @museum.paintings %>
</ul>

<%= link_to "Back to all museums", museums_path %>
