// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbo-image {
  margin-bottom: 15px;
}

.featured {
  text-align: center;
  h2 {
    padding-bottom: 2em;
  }
  .glyphicon {
    font-size: 15em;
    color: #491407;
    padding-bottom: .5em;

  }
  .panel{
    background-color: #e68f3f;
  }
}

