// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.logo {
  height: 50px;
  padding: 0;
}

.jumbo-image {
  margin-bottom: 15px;
}

.featured {
  text-align: center;
  h2 {
    padding-bottom: 2em;
  }
  .glyphicon {
    font-size: 15em;
    color: #000000;
    padding-bottom: .5em;

  }
}